<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <header class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="aquivaiocod">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
						<a
							class="nav-link active"
							aria-current="page"
							(click)="page = 'home'"
							>Home</a
						>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="page = 'precos'">Preços</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" (click)="page = 'info'">Informações</a>
					</li>
        </ul>
      </div>
    </div>
  </header>
</nav>

<div [ngSwitch]="page">
  <h2 *ngSwitchDefault>Estou na página de Home</h2>
  <h2 *ngSwitchCase="'precos'">Estou na página de Preços</h2>
  <h2 *ngSwitchCase="'info'">Estou na página de Informações</h2>
</div>
